@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override main site */
#main {width: 100%; padding:0;}
.content-asset p {margin:0 auto;}
#tutorial-main {margin-left: -2rem; margin-right: -2rem;}


/* Nav-dropdown-side*/
.dropdown {position: relative; display: inline-block;}
  #nav-plus {font-size: 50px; margin-left: 20px;;}
  .dropdown-nav {display: none; position: absolute; background-color: #f9f9f9; min-width: 150px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); padding: 10px 10px; z-index: 2;}
  .dropdown:hover .dropdown-nav {display: block;}
  .dropdown-nav li, a {list-style-type: none; text-align: center; margin-left: -4rem; letter-spacing: 2px;}
  .dropdown-nav a:hover {color: #829982;}
  

/* Helpers */
.margin-top-10 {padding-top:10px;}
.margin-bot-10 {padding-bottom:10px;}

/* Typography */
#tutorial-main h1 {font-family:'Oswald', sans-serif; font-size:24px; font-weight:400; text-transform: uppercase; color:black; padding:0; margin:0;}
#tutorial-main h2 {font-family:'Oswald', sans-serif; font-size:70px; letter-spacing:10px; text-align:center; color:black; font-weight:400; text-transform:uppercase; z-index:10;}
#tutorial-main h3 {font-family:'Oswald', sans-serif; font-size:40px; line-height:0; text-align: center; font-weight:400; letter-spacing:8px; text-transform: uppercase; color:black;}
#tutorial-main p {font-family:'Source Sans Pro', sans-serif; font-weight:400; font-size:16px; line-height:24px;}
.first-character {font-weight:400; float: left; font-size: 84px; line-height: 64px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: 'Source Sans Pro', sans-serif;}

/*First Character - color */
.fn {color: #c48660;}
.ar {color: #829982;}
.ob {color: #c48660;}
.fl {color: #829982;}
.cd {color: #c48660;}

/* Section - Title */
#tutorial-main .title {background: white; padding: 40px; margin:0 auto; text-align:center; top:20px;}
#tutorial-main .title h1 {
   font-size: 35px;
   letter-spacing: 8px;
   margin-bottom: 10px;
   top: 50px;
   position: relative;
}
#tutorial-main hr {width: 150px;}

/* Title - animation */
/* #tutorial-main .title h1:hover {animation-name: bounceIn;animation-duration: 2s; cursor: pointer;}
@keyframes bounceIn {10% {transform: scale(0.5);opacity: 0;} 60% {transform: scale(1.3); opacity: 1;} 100% {transform: scale(1);}} */


/* Section - Block */
#tutorial-main .block {background:white; padding: 60px; width:820px; margin:0 auto; text-align:justify; border-top:pink, 5px,solid;}
#tutorial-main .block-skill {background:white; padding: 30px; width:820px; margin:0 auto; text-align:justify;}
#tutorial-main .block-gray {background: #f2f2f2;padding: 60px;}
#tutorial-main .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}
#tutorial-main #skills {padding-left: 2em;}
#tutorial-main #borderbox {margin: 4em;}


/* Section - Parallax */
#tutorial-main .parallax-one {padding-top: 100px; padding-bottom: 100px; overflow: hidden; position: relative; width: 100%; background-image: url(Assests/IMG_2387.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
#tutorial-main .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(Assests/IMG_2387.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
#tutorial-main .parallax-three {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(Assests/IMG_2387.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
#tutorial-main .parallax-four {padding-top: 10px; padding-bottom: 10px; overflow: hidden; position: relative; width: 100%; background-image: url(Assests/IMG_2387.jpg); background-attachment: fixed;background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
#tutorial-main .parallax-five {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(Assests/IMG_2387.jpg); background-attachment: fixed;background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center bottom;}

/* Extras */
#tutorial-main .line-break {border-bottom:1px solid rgb(146, 124, 63); width: 150px; margin:0 auto;}
#tutorial-main .indent { text-align: center;}

/* Footer */ 
#resources-01 h3 { font-family: "oswald";  text-align: center; letter-spacing: 5px; margin-left: -3px;}
#res-list li, a {list-style-type: none; margin: 0 auto; text-decoration: none; color: inherit; float:left; padding: 10px; margin-left: 45px;}
#res-list li:hover {background-color: rgb(109, 193, 196); padding: -5px; display: block;}


/* Media Queries */
@media screen and (max-width: 959px) and (min-width: 768px) {
  #tutorial-main .block {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
  #tutorial-main .block {padding: 30px; width:420px;}
  #tutorial-main h2 {font-size:30px;}
  #tutorial-main .block {padding: 30px;}
  #tutorial-main .parallax-one, #tutorial-main .parallax-two, #tutorial-main .parallax-three, #tutorial-main .parallax-four, #tutorial-main .parallax-five {padding-top:100px; padding-bottom:100px;}
}

.title {
  top: 10%;
  text-align: center;
  color: #333;
  font: 24px Helvetica, Arial, serif;
  margin-top: 10%;
}

.three-d-container{
margin:30px auto;
width:300px;
height:300px;
border-radius: 3px;
position:relative;
-webkit-perspective:1000px;
   -moz-perspective:1000px;
    -ms-perspective:1000px;
     -o-perspective:1000px;
        perspective:1000px;
-webkit-box-shadow:0 20px 60px rgba(0,0,0,0.2),			  			  0 0 40px rgba(0,0,0,0.2) inset;
   -moz-box-shadow:0 20px 60px rgba(0,0,0,0.2),			  			  0 0 40px rgba(0,0,0,0.2) inset;
        box-shadow:0 20px 60px rgba(0,0,0,0.2),			  			  0 0 40px rgba(0,0,0,0.2) inset;
}
.three-d-cube{
width:100%;
height:100%;
position:absolute;
-webkit-transition:-webkit-transform 1s;
   -moz-transition:   -moz-transform 1s;
     -o-transition:     -o-transform 1s;
        transition:        transform 1s;
-webkit-transform-style:preserve-3d;
   -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
     -o-transform-style:preserve-3d;
        transform-style:preserve-3d;
-webkit-transform:translateZ( -150px );
   -moz-transform:translateZ( -150px );
    -ms-transform:translateZ( -150px );
     -o-transform:translateZ( -150px );
        transform:translateZ( -150px );
}
.three-d-cube .three-d-item{
width:100%;
height:100%;
display:block;
margin:0;
position:absolute;
}
.three-d-cube .three-d-item img{
width:100%;
height:100%;
display:block;
margin:0;
}
.three-d-item:nth-child(1){
-webkit-transform:rotateY(   0deg ) translateZ( 150px );
   -moz-transform:rotateY(   0deg ) translateZ( 150px );
    -ms-transform:rotateY(   0deg ) translateZ( 150px );
     -o-transform:rotateY(   0deg ) translateZ( 150px );
        transform:rotateY(   0deg ) translateZ( 150px );
}
.three-d-item:nth-child(2){
-webkit-transform:rotateX( 180deg ) translateZ( 150px );
   -moz-transform:rotateX( 180deg ) translateZ( 150px );
    -ms-transform:rotateX( 180deg ) translateZ( 150px );
     -o-transform:rotateX( 180deg ) translateZ( 150px );
        transform:rotateX( 180deg ) translateZ( 150px );
}
.three-d-item:nth-child(3){
-webkit-transform:rotateY(  90deg ) translateZ( 150px );
   -moz-transform:rotateY(  90deg ) translateZ( 150px );
    -ms-transform:rotateY(  90deg ) translateZ( 150px );
     -o-transform:rotateY(  90deg ) translateZ( 150px );
        transform:rotateY(  90deg ) translateZ( 150px );
}
.three-d-item:nth-child(4){
-webkit-transform:rotateY( -90deg ) translateZ( 150px );
   -moz-transform:rotateY( -90deg ) translateZ( 150px );
    -ms-transform:rotateY( -90deg ) translateZ( 150px );
     -o-transform:rotateY( -90deg ) translateZ( 150px );
        transform:rotateY( -90deg ) translateZ( 150px );
}
.three-d-item:nth-child(5){
-webkit-transform:rotateX(  90deg ) translateZ( 150px );
   -moz-transform:rotateX(  90deg ) translateZ( 150px );
    -ms-transform:rotateX(  90deg ) translateZ( 150px );
     -o-transform:rotateX(  90deg ) translateZ( 150px );
        transform:rotateX(  90deg ) translateZ( 150px );
}
.three-d-item:nth-child(6){
-webkit-transform:rotateX( -90deg ) translateZ( 150px );
   -moz-transform:rotateX( -90deg ) translateZ( 150px );
    -ms-transform:rotateX( -90deg ) translateZ( 150px );
     -o-transform:rotateX( -90deg ) translateZ( 150px );
        transform:rotateX( -90deg ) translateZ( 150px );
}
.a:checked ~ .three-d-cube{
-webkit-transform:translateZ( -150px ) rotateY(    0deg );
   -moz-transform:translateZ( -150px ) rotateY(    0deg );
    -ms-transform:translateZ( -150px ) rotateY(    0deg );
     -o-transform:translateZ( -150px ) rotateY(    0deg );
        transform:translateZ( -150px ) rotateY(    0deg );
}
.b:checked ~ .three-d-cube{
-webkit-transform:translateZ( -150px ) rotateX( -180deg );
   -moz-transform:translateZ( -150px ) rotateX( -180deg );
    -ms-transform:translateZ( -150px ) rotateX( -180deg );
     -o-transform:translateZ( -150px ) rotateX( -180deg );
        transform:translateZ( -150px ) rotateX( -180deg );
}
.c:checked ~ .three-d-cube{
-webkit-transform:translateZ( -150px ) rotateY(  -90deg );
   -moz-transform:translateZ( -150px ) rotateY(  -90deg );
    -ms-transform:translateZ( -150px ) rotateY(  -90deg );
     -o-transform:translateZ( -150px ) rotateY(  -90deg );
        transform:translateZ( -150px ) rotateY(  -90deg );
}
.d:checked ~ .three-d-cube{
-webkit-transform:translateZ( -150px ) rotateY(   90deg );
   -moz-transform:translateZ( -150px ) rotateY(   90deg );
    -ms-transform:translateZ( -150px ) rotateY(   90deg );
     -o-transform:translateZ( -150px ) rotateY(   90deg );
        transform:translateZ( -150px ) rotateY(   90deg );
}
.e:checked ~ .three-d-cube{
-webkit-transform:translateZ( -150px ) rotateX(  -90deg );
   -moz-transform:translateZ( -150px ) rotateX(  -90deg );
    -ms-transform:translateZ( -150px ) rotateX(  -90deg );
     -o-transform:translateZ( -150px ) rotateX(  -90deg );
        transform:translateZ( -150px ) rotateX(  -90deg );
}
.f:checked ~ .three-d-cube{
-webkit-transform:translateZ( -150px ) rotateX(   90deg );
   -moz-transform:translateZ( -150px ) rotateX(   90deg );
    -ms-transform:translateZ( -150px ) rotateX(   90deg );
     -o-transform:translateZ( -150px ) rotateX(   90deg );
        transform:translateZ( -150px ) rotateX(   90deg );
}
.three-d-bullet{
margin:350px 10px 0 0;
float:left;
}
.three-d-bullet:first-child{
margin:350px 10px 0 88px;
}
.breaker{
   height: .01%;
   border: .5px red solid ;
   background-color: pink;
}
#RedFlower{
   
   float: left;
  
}
#PinkFlower{
   
   float: right;
  ;
}




